<!DOCTYPE html>

<head>
  <% include tabs/header %>

  <script type="text/javascript" src="Scripts/App/objects/petri.object.js"></script>
  <script type="text/javascript" src="Scripts/App/objects/petri.object.arc.js"></script>
  <script type="text/javascript" src="Scripts/App/objects/petri.object.model.js"></script>
  <script type="text/javascript" src="Scripts/App/model/model.simulation.js"></script>
  <script type="text/javascript" src="Scripts/App/model/model.designer.js"></script>
</head>

<body>
  <div class="container-full d-flex flex-column h-100 p-0">
    <% include tabs/model/nav-bar %>

    <div class="row flex-fill m-0">
      <div class="sandbox flex-grow-1 m-0" id="sandbox"></div>
      <div class="bg-white shadow min-w-20 px-3 py-2 m-0 z-10" id="stats-container">
        <div class="h3 font-weight-bold">Statistics</div>
        <div class="overflow-auto" id="stats"></div>
      </div>
    </div>

    <% include tabs/model/svg %>

    <% include tabs/editors/model-arc %>
    <% include tabs/editors/petri-object %>

    <% include tabs/nav/code %>
    <% include tabs/model/save %>
    <% include tabs/model/open %>
    <% include tabs/model/settings %>
  </div>
</body>

</html>
