.nav-menu {
    width: 160px;
    height: calc(100% - 30px);
    float: left;
    padding: 15px;
    font-size: 14px;
    position: relative;
    z-index: 120;
    background-color: #01579B;
}

.menu-item {
    color: white;
    font-size: medium;
    cursor: pointer;
    font-weight: 800;
    padding: 6px 6px 6px 12px;
    border-radius: 3px;
}

.menu-item.selected {
    color: #2c2c2c;
    cursor: default;
    background-color: #03A9F4;
}

.menu-item:not(.selected):hover {
    text-decoration: underline;
}
