.nav-menu {
    width: 160px;
    height: calc(100% - 30px);
    float: left;
    padding: 15px;
    font-size: 14px;
    position: relative;
    z-index: 120;
    background-color: #8c5a27;
}

.menu-item {
    color: white;
    cursor: pointer;
    font-weight: 300;
    padding: 6px 6px 6px 12px;
    border-radius: 3px;
}

.menu-item.selected {
    cursor: default;
    background-color: #ae7d48;
}

.menu-item:not(.selected):hover {
    text-decoration: underline;
}
