<meta charset="UTF-8">
<title>Stochastic Petri Net Simulator</title>

<link rel="stylesheet" type="text/css" href="css/main.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script type="text/javascript" src="Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript" src="Scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://kit.fontawesome.com/df23cbfd18.js"></script>

<script type="text/javascript" src="js/files-manager.js"></script>
<script type="text/javascript" src="js/history.js"></script>

<script type="text/javascript" src="dist/foo.bundle.js"></script>
<script type="text/javascript" src="Scripts/App/helpers.js"></script>
<script type="text/javascript" src="Scripts/App/reflection.helpers.js"></script>
<script type="text/javascript" src="Scripts/App/petri.helpers.js"></script>
